* {
  box-sizing: border-box;
}

body {
  background: palegoldenrod;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 1px black solid;
  width: 720px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.containers {
  display: flex;
  flex: 1;
}

.sqaure {
  border: 1px black solid;
  flex: 1;
  background-color: white;
}
