* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(pexels-jessbaileydesign-860008.jpg);
  background-size: contain;
  background-repeat: round;
  height: 100vh;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 1px black solid;
  width: 720px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.containers {
  display: flex;
  flex: 1;
}

.sqaure {
  border: 1px black solid;
  flex: 1;
  background-color: white;
}

.noBorders {
  border: 0px;
}

button {
  height: 60px;
  width: 256px;
  border-radius: 16px;
  border: 5px solid black;
  font-size: 32px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(187, 187, 187);
}


.bodyContainer {
  display: flex;
  align-items: center;
  gap: 48px;
}

.rightButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leftButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 30vh;
}

.leftButtonContainers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.colorSelectorContainer {
  position: relative;
}

.colorInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

h1 {
  display: block;
  width: 250vh;
  text-align: center;
  padding: 12px;
  margin: 24px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  background-color: white;
  border: black 5px solid;
}

.changeGrid {
  background-color: rgb(67, 255, 67);
}

.reset {
  background-color: rgb(253, 42, 42);
}

.rgbButton {
  background-image: url(pexels-katierainbow-8659225.jpg);
  background-size: cover;
  background-repeat: round;
}

.selectColor {
  background-color: rgb(0, 174, 255);
}

.hover {
  background-color: rgb(240, 60, 96);
}

.hold {
  background-color: lightgreen;
}

.border {
  background-color: lightgreen;
}

.noBorder {
  background-color: rgb(240, 60, 96);
}

